<div id="footer">
  <div id="footer-container">
    <!--Will flex this for everyone abovee-->
    <div id="footer-content1">
      <img src="../../assets/Images/footer-logo.png" alt="" />
      <p id="content1-parah">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, pariatur
        incidunt distinctio vitae officia aperiam? Doloremque magni cumque
        doloribus, tempora modi laudantium nisi natus, ut dicta quaerat odio
        quae omnis unde soluta.
      </p>
      <p id="content1-parah2">
        Join our business
        <img
          class="content1-img"
          src="../../assets/Images/telegram.png"
          alt="telegram"
        />
        <img
          class="content1-img"
          src="../../assets/Images/whatsapp.png"
          alt="whatsapp"
        />
      </p>
    </div>
    <!--container1end-->
    <div id="footer-content2">
      <div id="footer-card">
        <div>
          <img src="../../assets/Images/footer-logo2.png" alt="" />
        </div>
        <div>
          <h1 id="content2-title">Event Brand Of The Year 2021</h1>
          <p id="content2-parah">Corporate Live Wire</p>
        </div>
      </div>
      <div id="address">
        <p id="webicon">
          <fa-icon class="iconset" [icon]="faGlobe"></fa-icon> www.loosedays.co
        </p>
        <p>
          <fa-icon class="iconset" [icon]="faPhoneVolume"></fa-icon> +1(245) 456
          789
        </p>
      </div>

      <p id="address">
        <fa-icon class="iconset" [icon]="faLocationDot"></fa-icon> 302
        HiveTree,9 Big market NE1 1UN Newcastle upon Tyne
      </p>
    </div>
    <!--container2end-->
    <div id="footer-content3">
      <p id="content3-parah">
        The latest Loosedays news and event straight to your inbox.
      </p>
      <input
        id="vendor-search"
        type="text"
        placeholder="Enter your email right here"
      />
      <p id="content3-parah2">
        Loosedays on
        <img src="../../assets/Images/facebook.png" alt="" />
        <img src="../../assets/Images/instagram.png" alt="" />
        <img src="../../assets/Images/twitter.png" alt="" />
        <img src="../../assets/Images/tiktok.png" alt="" />
      </p>
    </div>
    <!--container3end-->
  </div>
  <div id="footer-logos">
    <img
      class="footer-logohandle"
      src="../../assets/Images/google-logo.png"
      alt=""
    />
    <img
      class="footer-logohandle"
      src="../../assets/Images/klarna-logo.png"
      alt=""
    />
    <img
      class="footer-logohandle"
      src="../../assets/Images/cocacola-logo.png"
      alt=""
    />
    <img
      class="footer-logohandle"
      src="../../assets/Images/wata-logo.png"
      alt=""
    />
    <img
      class="footer-logohandle"
      src="../../assets/Images/carlsberg-logo.png"
      alt=""
    />
    <img
      class="footer-logohandle"
      src="../../assets/Images/asos-logo.png"
      alt=""
    />
    <img
      class="footer-logohandle"
      src="../../assets/Images/target-logo.png"
      alt=""
    />
    <img
      class="footer-logohandle"
      src="../../assets/Images/ee-logo.png"
      alt=""
    />
    <img
      class="footer-logohandle"
      src="../../assets/Images/spotify-logo.png"
      alt=""
    />
  </div>
  <p id="footer-finalparah">Copyright 2021 Loosedays</p>
</div>
