<div>
  <video controls id="student-video">
    <source src="../../assets/Video/Fun Fair.mp4" type="video/webm" />
    <source src="../../assets/Video/Fun Fair.mp4" type="video/mp4" />
    Sorry, your browser doesn't support embedded videos.
  </video>
</div>

<div id="student-events">
  <div id="studentevent-content1">
    <h1 id="studentevent-title">STUDENT EVENTS</h1>
    <button id="studentevent-button">View More ></button>
  </div>
  <div id="event-cards">
    <div id="event-card">
      <img
        class="event-card-image"
        src="../../assets/Images/Upcoming events1.png"
        alt=""
      />
    </div>
    <div id="event-card">
      <img
        class="event-card-image"
        src="../../assets/Images/Upcoming events2.png"
        alt=""
      />
    </div>
    <div id="event-card">
      <img
        class="event-card-image"
        src="../../assets/Images/Upcoming events3.png"
        alt=""
      />
    </div>
    <div id="event-card">
      <img
        class="event-card-image"
        src="../../assets/Images/Upcoming events1.png"
        alt=""
      />
    </div>
    <div id="event-card">
      <img
        class="event-card-image"
        src="../../assets/Images/Upcoming events2.png"
        alt=""
      />
    </div>
    <div id="event-card">
      <img
        class="event-card-image"
        src="../../assets/Images/Upcoming events3.png"
        alt=""
      />
    </div>
    <div id="event-card">
      <img
        class="event-card-image"
        src="../../assets/Images/Upcoming events1.png"
        alt=""
      />
    </div>
    <div id="event-card">
      <img
        class="event-card-image"
        src="../../assets/Images/Upcoming events2.png"
        alt=""
      />
    </div>
    <div id="event-card">
      <img
        class="event-card-image"
        src="../../assets/Images/Upcoming events3.png"
        alt=""
      />
    </div>
  </div>
  <div id="student-offer">
    <div>
      <h1 id="student-offer-title">
        SPECIAL OFFER FOR <br class="break" />STUDENTS
      </h1>
      <p id="student-offer-parah">
        <img
          class="check-icon"
          src="../../assets/Images/student-offercheck.png"
        />Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla,
        omnis?
      </p>
      <p id="student-offer-parah">
        <img
          class="check-icon"
          src="../../assets/Images/student-offercheck.png"
        />Lorem ipsum dolor sit amet
      </p>
      <p id="student-offer-parah">
        <img
          class="check-icon"
          src="../../assets/Images/student-offercheck.png"
        />Lorem ipsum dolor sit amet, consectetur
      </p>
      <p id="student-offer-parah">
        <img
          class="check-icon"
          src="../../assets/Images/student-offercheck.png"
        />Lorem ipsum dolor sit
      </p>
      <p id="student-offer-parah">
        <img
          class="check-icon"
          src="../../assets/Images/student-offercheck.png"
        />Lorem ipsum dolor sit amet, consectetur adipisicing
      </p>
      <p id="student-offer-parah">
        <img
          class="check-icon"
          src="../../assets/Images/student-offercheck.png"
        />Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </p>
      <button id="student-offer-button">Get Now</button>
    </div>
    <div>
      <img
        id="student-offer-image"
        src="../../assets/Images/loosefest-girls.png"
        alt="Loosefest-girls"
      />
    </div>
  </div>
  <div id="Other">
    <div id="studentevent-content1">
      <h1 id="studentevent-title">STUDENT BLOG</h1>
      <button id="studentevent-button">View More ></button>
    </div>
    <div id="other-blogs">
      <div id="other-blog">
        <img
          class="other-blogimage"
          src="../../assets/Images/student-blog1.png"
          alt=""
        />
        <p class="other-blogdate">
          <fa-icon class="iconset" [icon]="faClock"></fa-icon>SEPT 21,2021
        </p>
        <h1 class="other-blogtitle">
          DECADES | WEDNESDAYS | THE LANE ( NEW PERDU ) | 15TH SEPTEMBER ( NEW
          PERDU ) | 15TH SEPTEMBER
        </h1>
      </div>
      <div id="other-blog">
        <img
          class="other-blogimage"
          src="../../assets/Images/student-blog2.png"
          alt=""
        />
        <p class="other-blogdate">
          <fa-icon class="iconset" [icon]="faClock"></fa-icon>SEPT 21,2021
        </p>
        <h1 class="other-blogtitle">
          DECADES | WEDNESDAYS | THE LANE ( NEW PERDU ) | 15TH SEPTEMBER ( NEW
          PERDU ) | 15TH SEPTEMBER
        </h1>
      </div>
      <div id="other-blog">
        <img
          class="other-blogimage"
          src="../../assets/Images/student-blog3.png"
          alt=""
        />
        <p class="other-blogdate">
          <fa-icon class="iconset" [icon]="faClock"></fa-icon>SEPT 21,2021
        </p>
        <h1 class="other-blogtitle">
          DECADES | WEDNESDAYS | THE LANE ( NEW PERDU ) | 15TH SEPTEMBER ( NEW
          PERDU ) | 15TH SEPTEMBER
        </h1>
      </div>
    </div>
  </div>
  <div id="Community">
    <div>
      <h1 id="community-title">LOOSEDAYS</h1>
      <h1 class="community-subtitle">COMMUNITY</h1>
      <h1 class="community-subtitle">EVERYWHERE</h1>
      <p id="community-parah">
        <span class="highlight">20,423,942</span> people follow us <br />
        and <span class="highlight">10,266,931</span> joined our events
      </p>
    </div>
    <div id="community-image">
      <img
        id="image-comm"
        src="../../assets/Images/community image.png"
        alt=""
      />
    </div>
  </div>
</div>
