<div>
  <img id="about-first" src="../../assets/Images/About-wallpaper.png" alt="" />
</div>

<div id="about-brief">
  <div>
    <h1 id="Brief-title">01.BRIEF</h1>
    <p class="Brief-parah">
      Loosedays needed a complete marketing and image overhaul.They require
      multichannel marketing solutions to improve ticket sales and event
      attendance for multiple events, as well as creative support to help
      develop sub brands and showcase new events.
    </p>
    <p class="Brief-parah">
      A new office fit out was required to provide a creative,inspiring and
      vibrant space for staff,clients and visitors.
    </p>
  </div>
  <div>
    <img id="Brief-image" src="../../assets/Images/brief-image.png" alt="" />
  </div>
</div>

<div id="solution">
  <div>
    <h1 id="solution-title">02.OUR SOLUTION</h1>
    <p id="solution-parah">
      We conducted in-depth strategy and trend analysis to help keep the
      different sub-brands current and differentiate them from the
      competitors.Our design team developed a full range of creative assets,
      from the branding to printing,social media content to signage,and
      everything in between.We also helped with trademark protection and
      copyrighting.<br />We provided digital marketing campaigns through PPC
      strategies,alongside remarketing and targeted campaigns to help increase
      ticket sales,footfall and engagements.<br />Our Interior design team
      created a fully bespoke office fit out.We worked closely with the client
      to build a truly unique and modern space.
    </p>
  </div>
  <div id="solution-images">
    <img
      class="solution-image"
      src="../../assets/Images/solution1.png"
      alt=""
    />
    <img
      class="solution-image"
      src="../../assets/Images/solution2.png"
      alt=""
    />
    <img
      class="solution-image"
      src="../../assets/Images/solution3.png"
      alt=""
    />
  </div>
</div>

<div id="Results">
  <div id="result-image">
    <img id="image-res" src="../../assets/Images/result-image.png" alt="" />
  </div>
  <div id="Result-content">
    <h1 id="Result-title">03.THE RESULTS</h1>
    <p class="Result-parah">
      Our work culiminated in an overall increase of 11,654 in footfall to
      events on the previous year.The digital marketing campaign resulted in a
      4,186% increased reach on the previous year.This helped to solidify
      Loosedays reputation as the market leader in the nightlife and events
      industry.
    </p>
    <p class="Result-parah">
      The office redesign attracted new staff and new clients.It increased
      overall productivity and staff morale,creating a fun and enjoyable
      atmosphere.We incorporated the latest smart technology,building automated
      system and energy efficient solutions.
    </p>
  </div>
</div>

<div id="Community">
  <div>
    <h1 id="community-title">LOOSEDAYS</h1>
    <h1 class="community-subtitle">COMMUNITY</h1>
    <h1 class="community-subtitle">EVERYWHERE</h1>
    <p id="community-parah">
      <span class="highlight">20,423,942</span> people follow us <br />
      and <span class="highlight">10,266,931</span> joined our events
    </p>
  </div>
  <div id="community-image">
    <img id="image-comm" src="../../assets/Images/community image.png" alt="" />
  </div>
</div>
