<div id="Event-detail">
  <img
    class="event-detailbg"
    src="../../assets/Images/event-detailbg.png"
    alt=""
  />
  <div id="event-content">
    <h1 id="event-title">
      UTOPIAR | THE NEW GALACTIC | 18TH SEPTEMBER | TICKETS FROM $1
    </h1>
    <p class="event-msg">
      <fa-icon class="iconset" [icon]="faLocationDot"></fa-icon>
      DIGITAL, NEWCASTLE UPON TYNE
    </p>
    <p class="event-msg">
      <fa-icon class="iconset" [icon]="faClock"></fa-icon> 13TH SEPTEMBER
      2021,10:00 PM
    </p>
  </div>
</div>

<div id="event-mainContent">
  <div id="event-sideleft">
    <div id="event-timer">
      <p class="timer-parah">Start Sell Ticket On</p>
      <h1 class="timer-main">02:11:45:05</h1>
      <p class="timer-parah">Remind 30 mins before ticket start sell</p>
    </div>
    <div id="location-content">
      <h1 id="location-label">Location</h1>
      <p id="location-address">
        302 HiveTree,9 Bigg market NE1 1UN Newcastle upon Tyne
      </p>
      <div id="location-image">
        <img
          id="location-imagemain"
          src="../../assets/Images/event-location.png"
          alt=""
        />
      </div>
      <h1 id="location-title">
        UTOPIAR | THE NEW GALACTIC | 18TH SEPTEMBER | TICKETS FROM $1
      </h1>
      <p id="location-parah">
        Calling all senior student citizens... <br />We have designed this one
        specifically for you <br />Expect one hell of a crazy night with your
        own bar crawl route! <br />This event is exclusively for 2nd year
        students and above with the following perks.. <br />-No crazt fresher
        queues! <br />-Quicker drinks service! <br />$1 tickets!
        <br />Collection <br />Digital,Times Square,Scotswood Rd,Newcastle upon
        Tyne NE1 4EP <br />September-Friday 17th,Saturday 18th,Sunday 19th<br />
        2pm-6pm
      </p>
      <div id="location-video">
        <video controls id="location-videomain">
          <source src="../../assets/Video/Fun Fair.mp4" type="video/webm" />
          <source src="../../assets/Video/Fun Fair.mp4" type="video/mp4" />
          Sorry, your browser doesn't support embedded videos.
        </video>
      </div>
      <h1 id="policy-title">Refund Policy</h1>
      <p class="policy-parah">
        Tickets are non refundable.But in the case of goverment enforced covid
        restrictions our Covid Policy will apply.
      </p>
      <h1 id="policy-title">Covid Policy</h1>
      <p class="policy-parah">
        If this event is cancelled due to Covid-19 restrictions enforced by
        local council or goverment,you will be elgible for a full refund for
        this event.
      </p>
      <p class="policy-parah">
        Also,if you don't make it into uni,don't worry,you are also elgible for
        a refund.Just simply message our instagram page with proof.
      </p>
    </div>
  </div>
  <div id="event-sideright">
    <div id="promote-card">
      <div id="card-content1">
        <div>
          <p class="card-content1parah">Join Looseday REP team</p>
          <h1 class="card-content1header">23,992 reps</h1>
        </div>
        <div>
          <button class="card-contentbutton">Promote Now!</button>
        </div>
      </div>
      <p class="card-content2parah">
        When you are a rep,you can make money through sales events tickets and
        product
      </p>
      <hr class="hrline" />
      <div id="card-content1">
        <div>
          <p class="card-content1parah">Add to favourite events</p>
          <h1 class="card-content1header">23,992 followers</h1>
        </div>
        <div>
          <button></button>
        </div>
      </div>
      <hr class="hrline" />
      <div id="card-content1">
        <div>
          <p class="card-content1parah">UTOPIAR community</p>
          <h1 class="card-content1header">1,233,992 members</h1>
        </div>
        <div>
          <button class="card-contentbutton">Discover</button>
        </div>
      </div>
    </div>
    <div id="card-gridimages">
      <div id="card-gridimages-content1">
        <h1 id="card-gridimages-title">Previous</h1>
        <button id="card-gridimages-button">View More ></button>
      </div>
      <div id="card-partyimage-container">
        <div class="card-partycontainer">
          <img
            class="card-partyimage"
            src="../../assets/Images/card-party1.png"
            alt=""
          />
        </div>
        <div class="card-partycontainer">
          <img
            class="card-partyimage"
            src="../../assets/Images/card-party2.png"
            alt=""
          />
        </div>
        <div class="card-partycontainer">
          <img
            class="card-partyimage"
            src="../../assets/Images/card-party3.png"
            alt=""
          />
        </div>
        <div class="card-partycontainer">
          <img
            class="card-partyimage"
            src="../../assets/Images/card-party4.png"
            alt=""
          />
        </div>
        <div class="card-partycontainer">
          <img
            class="card-partyimage"
            src="../../assets/Images/card-party5.png"
            alt=""
          />
        </div>
        <div class="card-partycontainer">
          <img
            class="card-partyimage"
            src="../../assets/Images/card-party6.png"
            alt=""
          />
        </div>
        <div class="card-partycontainer">
          <img
            class="card-partyimage"
            src="../../assets/Images/card-party7.png"
            alt=""
          />
        </div>
        <div class="card-partycontainer">
          <img
            class="card-partyimage"
            src="../../assets/Images/card-party8.png"
            alt=""
          />
        </div>
        <div class="card-partycontainer">
          <img
            class="card-partyimage"
            src="../../assets/Images/card-party9.png"
            alt=""
          />
        </div>
      </div>
    </div>
    <div id="Reviews">
      <div id="Reviews-content1">
        <h1 id="Reviews-title">Reviews</h1>
        <button id="Reviews-button">View More ></button>
      </div>
      <div class="review-container">
        <img
          class="review-image"
          src="../../assets/Images/name&review-card.png"
          alt=""
          srcset=""
        />
        <p class="review-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta velit
          maxime quisquam.
        </p>
        <hr class="hrline" />
        <img
          class="review-image"
          src="../../assets/Images/name&review-card.png"
          alt=""
          srcset=""
        />
        <p class="review-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta velit
          maxime quisquam.
        </p>
        <hr class="hrline" />
        <img
          class="review-image"
          src="../../assets/Images/name&review-card.png"
          alt=""
          srcset=""
        />
        <p class="review-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta velit
          maxime quisquam.
        </p>
        <hr class="hrline" />
        <img
          class="review-image"
          src="../../assets/Images/name&review-card.png"
          alt=""
          srcset=""
        />
        <p class="review-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta velit
          maxime quisquam.
        </p>
        <hr class="hrline" />
        <img
          class="review-image"
          src="../../assets/Images/name&review-card.png"
          alt=""
          srcset=""
        />
        <p class="review-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta velit
          maxime quisquam.
        </p>
      </div>
    </div>
  </div>
</div>

<div id="upcoming-events">
  <div id="upcoming-content1">
    <h1 id="upcoming-title">UPCOMING EVENTS</h1>
    <button id="upcoming-button">View More ></button>
  </div>
  <div id="upcoming-eventscards">
    <div class="upcoming-eventcard">
      <img
        class="upcoming-eventcard-image"
        src="../../assets/Images/Upcoming events1.png"
        alt=""
      />
    </div>
    <div class="upcoming-eventcard">
      <img
        class="upcoming-eventcard-image"
        src="../../assets/Images/Upcoming events2.png"
        alt=""
      />
    </div>
    <div class="upcoming-eventcard">
      <img
        class="upcoming-eventcard-image"
        src="../../assets/Images/Upcoming events3.png"
        alt=""
      />
    </div>
  </div>
</div>
