<div id="Blog">
  <h1 id="Blog-title">A-LEVEL RESULTS DAY - THE <br />COMPLETE GUIDE</h1>
  <p class="Blog-date">
    <fa-icon class="iconset" [icon]="faClock"></fa-icon>SEPT,2021
  </p>
  <div id="Blog-content">
    <div>
      <img
        id="Blog-image"
        src="../../assets/Images/blog-dataimage.png"
        alt=""
      />
    </div>
    <div id="Blog-parah">
      <p class="parah-content">
        In the upcoming days to results day there are few things you should be
        doing to get ready! Look over you insurance and clearing options and
        gather phone number so you're ready to call if you don't do as well as
        you had expected. Also think about other courses you would be open to
        studying and keep them ready.
      </p>
      <p class="parah-content">
        Now the big day has arrived, we're going to walk through everything you
        should be doing throughout result day. Firstly, you're going to Login to
        UCAS Track/Check your Grades to see whether your place has been secured
        at you firm/Insurance University. If you have met your requirements then
        everything should be confirmed and you can wait for emails regarding
        accommodation and start getting ready to start your life at University!
      </p>
      <h1 class="parah-title">1. Lorem ipsum dolar sit amet</h1>
      <p class="parah-content">
        If you didn't manage to secure a place at your firm/Insurance university
        then it is not the end of the world Start to call up the Universities on
        your clearing list to see whether they will accept you with your grades
        and I'm sure after near to no time you will have secured yourself a
        place at university! Make sure you then make accommodation arrangements
        etc <br />
        In the upcoming day to result day there are few things you should be
        doing to get ready! Look over your insurance and clearing options and
        gather phone number so you're ready to call if you don't do as well as
        you had expected. Also think about other courses you would be open to
        studying and keep them ready.
      </p>
      <p class="parah-content">
        Now the big day has arrived, we're going to walk through everything you
        should be doing throughout result day. Firstly, you're going to Login to
        UCAS Track/Check your Grades to see whether you place has been secured
        at your firm/Insurance University. If you have met your requirement thn
        everything should be confirmed and you can wait for email regarding
        accommodation and start getting ready to start your life at University!
      </p>
      <p class="parah-content">
        If you didn't manage to secure a place at your firm/Insurance university
        then it's not the end of the world Start to call up the Universities on
        your checking list to see whether they will accept you with your grades
        and i'm sure after near to no time you will have secured yourself a
        place at university! Make sure you then make accommodation arrangements
        etc
      </p>
      <h1 class="parah-title">2. Lorem ipsum</h1>
      <p class="parah-content">
        If you didn't manage to secure a place at your firm/insurance university
        then it is not the end of the world Start to call up the Universities on
        your clearing list to see whether they will accept you with your grades
        and I'm sure after near to no time you will have secured yourself a
        place at university! Make sure you then make accommodation arrangements
        etc. <br />
        In the upcoming days to result day there are a few things you should be
        doing to get ready! Look over your insurance and clearing options and
        gather phone numbers so you're ready to call if you don't do as well as
        you had expected. Also think about other courses you would be open to
        studying and keep them ready.
      </p>
      <h1 class="parah-title">3. Lorem ipsum</h1>
      <p class="parah-content">
        If you didn't manage to secure a place at your firm/insurance university
        then it is not the end of the world Start to call up the Universities on
        your clearing list to see whether they will accept you with your grades
        and I'm sure after near to no time you will have secured yourself a
        place at university! Make sure you then make accommodation arrangements
        etc <br />IAn the upcoming days to result day there ared few things you
        should bde doing to get ready! Look over your insurance and clearing
        options and gather phone numbers so you're ready to call if you don't do
        as well as you had expected. Also think about other courses you would be
        open to studying and keep them ready.
      </p>
    </div>
  </div>

  <div id="Other">
    <h1 id="Other-title">OTHER</h1>
    <div id="other-blogs">
      <div id="other-blog">
        <img
          class="other-blogimage"
          src="../../assets/Images/other-blog1.png"
          alt=""
        />
        <p class="other-blogdate">
          <fa-icon class="iconset" [icon]="faClock"></fa-icon>SEPT 21,2021
        </p>
        <h1 class="other-blogtitle">
          DECADES | WEDNESDAYS | THE LANE ( NEW PERDU ) | 15TH SEPTEMBER ( NEW
          PERDU ) | 15TH SEPTEMBER
        </h1>
      </div>
      <div id="other-blog">
        <img
          class="other-blogimage"
          src="../../assets/Images/other-blog2.png"
          alt=""
        />
        <p class="other-blogdate">
          <fa-icon class="iconset" [icon]="faClock"></fa-icon>SEPT 21,2021
        </p>
        <h1 class="other-blogtitle">
          DECADES | WEDNESDAYS | THE LANE ( NEW PERDU ) | 15TH SEPTEMBER ( NEW
          PERDU ) | 15TH SEPTEMBER
        </h1>
      </div>
      <div id="other-blog">
        <img
          class="other-blogimage"
          src="../../assets/Images/other-blog3.png"
          alt=""
        />
        <p class="other-blogdate">
          <fa-icon class="iconset" [icon]="faClock"></fa-icon>SEPT 21,2021
        </p>
        <h1 class="other-blogtitle">
          DECADES | WEDNESDAYS | THE LANE ( NEW PERDU ) | 15TH SEPTEMBER ( NEW
          PERDU ) | 15TH SEPTEMBER
        </h1>
      </div>
    </div>
  </div>
</div>
