@font-face {
  font-family: "SFPRODISPLAYMEDIUM";
  src: local("SFPRODISPLAYMEDIUM"),
    url(../../assets/fonts/SFPRODISPLAYMEDIUM.OTF) format("truetype");
}

@font-face {
  font-family: "SFPRODISPLAY";
  src: local("SFPRODISPLAY"),
    url(../../assets/fonts/SFPRODISPLAYBOLD.OTF) format("truetype");
}

#navigation {
  background-color: #1a1a1a;
  width: 100%;
}

#nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-logo {
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
}

#nav-search {
  width: 11vw;
  height: 5vh;
  margin-left: 2vw;
  border-radius: 8px;
  background-color: #292929;
  color: #666666;
  border: none;
  padding-left: 1vw;
}

.first {
  padding-left: 3.5vw;
}

.last {
  padding-right: 4vw;
}

.nav-button {
  border: none;
  background-color: transparent;
  color: white;
  font-family: "SFPRODISPLAYMEDIUM";
  padding-right: 3vw;
}

#Subscribe {
  border: none;
  border-radius: 8px;
  margin-right: 1vw;
  background-color: #0275d8;
  color: white;
  height: 6vh;
  width: 8vw;
}

#Rep {
  height: 6vh;
  width: 8vw;
  border: none;
  border-radius: 8px;
  color: white;
  background-color: #666666;
}

.nav-avatar {
  width: 45px;
  margin-left: 2vh;
}

#mobile-nav {
  display: none;
}

@media only screen and (max-width: 1200px) {
  #mobile-nav {
    display: block;
  }
  #nav-container {
    flex-direction: column;
  }
  #nav-search {
    width: 85vw;
    padding-left: 2vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
  #Subscribe {
    width: 33vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }
  #Rep {
    width: 33vw;
    margin-top: 1vh;
    margin-bottom: 2vh;
  }
  .nav-avatar {
    display: none;
  }
  .first {
    padding-left: 0;
  }
  .nav-button {
    text-align: center;
  }
  #nav-title {
    color: white;
    font-family: "SFPRODISPLAY";
    padding-left: 10vw;
    padding-right: 10vw;
  }
  #mobile-nav {
    display: flex;
    justify-content: center;
    padding-top: 3vh;
    padding-bottom: 2vh;
  }
}
