<div id="navigation">
  <div id="mobile-nav">
    <div>
      <img id="nav-arrow" src="../../assets/Images/nav-arrow.png" alt="" />
    </div>
    <div>
      <h1 id="nav-title">LOOSEFEST 2022</h1>
    </div>
  </div>

  <div id="nav-container">
    <img id="nav-logo" src="../../assets/Images/nav-logo.png" alt="" />
    <img id="nav-flag" src="../../assets/Images/nav-flag.png" alt="" />
    <input id="nav-search" type="text" placeholder="Search" />
    <button class="nav-button first">Packages</button>
    <button class="nav-button">Student</button>
    <button class="nav-button">Stores</button>
    <button class="nav-button">Brand</button>
    <button class="nav-button">Media</button>
    <button class="nav-button">Blog</button>
    <button class="nav-button last">About</button>
    <button id="Subscribe">Subscription</button>
    <button id="Rep">Become a Rep</button>
    <img
      src="../../assets/Images/avatar.png"
      class="rounded-circle nav-avatar"
      alt="Avatar"
    />
  </div>
</div>
