<!-- <div>
  <video controls id="home-video">
    <source src="../../assets/Video/Fun Fair.mp4" type="video/webm" />
    <source src="../../assets/Video/Fun Fair.mp4" type="video/mp4" />
    Sorry, your browser doesn't support embedded videos.
  </video>
</div> -->

<!-- <div id="Information">
  <div id="info-content">
    <div>
      <h1 id="info-title">INFORMATIONS</h1>
      <p id="info-parah">
        Calling all senior student citizens...<br />We have designed this one
        specifically for you<br />Expect one hell of a crazy night with your own
        bar crawl route!<br />This event is exclusively for 2nd year students
        and above with the following perks...<br />-No crazy fresher queues!<br />-Quicker
        drinks service!<br />-$1 tickets!<br />Collection<br />Digital Times
        Square,Scotswood Rd,Newcastle upon Tyne NE1 4EP<br />September-Friday
        17th,Saturday 18th,Sunday 19th<br />2pm-6pm
      </p>
    </div>
    <div>
      <video controls id="info-video">
        <source src="../../assets/Video/Fun Fair.mp4" type="video/webm" />
        <source src="../../assets/Video/Fun Fair.mp4" type="video/mp4" />
        Sorry, your browser doesn't support embedded videos.
      </video>
    </div>
  </div>
  <div
    id="carouselExampleControls"
    class="carousel slide mobileset"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div id="infocard-container">
          <div id="info-card1">
            <h1 id="info-cardtitle">Refund Policy</h1>
            <p id="info-cardparah">
              Tickets are non refundable.But in the case of goverment enforced
              covid restrictions our Covid Policy will apply
            </p>
          </div>
          <div id="info-card2">
            <h1 id="info-cardtitle">Covid Policy</h1>
            <p id="info-cardparah">
              -If this event is cancelled due to Covid-19 restrictions enforced
              by local council or goverment,you will be elgible for a full
              refund for this event.<br />
              -Also,if you don't make it into uni,don't worry,you are also
              elgible for a refund.Just simply message our instagram page with
              proof
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div id="infocard-container">
          <div id="info-card3"></div>
          <div id="info-card4"></div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div id="mobileset2">
    <div id="info-card1">
      <h1 id="info-cardtitle">Refund Policy</h1>
      <p id="info-cardparah">
        Tickets are non refundable.But in the case of goverment enforced covid
        restrictions our Covid Policy will apply
      </p>
    </div>
    <div id="info-card2">
      <h1 id="info-cardtitle">Covid Policy</h1>
      <p id="info-cardparah">
        -If this event is cancelled due to Covid-19 restrictions enforced by
        local council or goverment,you will be elgible for a full refund for
        this event.<br />
        -Also,if you don't make it into uni,don't worry,you are also elgible for
        a refund.Just simply message our instagram page with proof
      </p>
    </div>
  </div>
</div> -->

<!-- <div id="Ticket">
  <h1 id="ticket-title">LOOSEFEST 2022</h1>
  <div id="ticket-content">
    <p class="ticketicons">
      <fa-icon class="iconset" [icon]="faLocationDot"></fa-icon>
      DIGITAL,NEWCASTLE UPON TYNE
    </p>
    <p class="ticketicons">
      <fa-icon class="iconset" [icon]="faClock"></fa-icon>13 SEPTEMBER
      2021,10.00 PM
    </p>
  </div>
  <div id="ticket-social">
    <img src="../../assets/Images/facebook.png" alt="" />
    <img src="../../assets/Images/instagram.png" alt="" />
    <img src="../../assets/Images/twitter.png" alt="" />
    <img src="../../assets/Images/tiktok.png" alt="" />
  </div>
  <div id="ticketcard-content">
    <div id="ticket-sell">
      <div id="ticket-innersell">
        <p id="ticketsell-title">Start Sell Ticket On</p>
        <h1 id="ticketsell-timer">02:11:45:07</h1>
        <p id="ticketsell-reminder">Remind 30 mins before ticket start sell</p>
      </div>
    </div>
    <div id="ticket-login">
      <div id="ticket-signup">
        <h1 id="ticketsignup-title">Signup now!</h1>
        <p id="ticketsignup-parah">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
          excepturi soluta omnis tempore soluta omnis tempore tempore soluta
          omnis tempore
        </p>
        <button id="ticketbutton">Sign Up</button>
      </div>
    </div>
  </div>
</div> -->

<!-- <div id="Amenities">
  <h1 id="amenities-title">AMENITIES & INFORMATION</h1>
  <div id="card-group1">
    <div class="amenities-card">
      <img
        class="amenities-cardimg"
        src="../../assets/Images/food.png"
        alt=""
      />
      <h1 class="amenities-cardtitle">FOOD VENDORS</h1>
      <p class="amenities-cardparah">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem
        doloremque dolore eum quae quaerat porro voluptate eligendi unde tenetur
        modi.
      </p>
    </div>
    <div class="amenities-card">
      <img
        class="amenities-cardimg"
        src="../../assets/Images/funfair.png"
        alt=""
      />
      <h1 class="amenities-cardtitle">FUN FAIRS RIDES</h1>
      <p class="amenities-cardparah">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem
        doloremque dolore eum quae quaerat porro voluptate eligendi unde tenetur
        modi.
      </p>
    </div>
    <div class="amenities-card">
      <img
        class="amenities-cardimg"
        src="../../assets/Images/gift.png"
        alt=""
      />
      <h1 class="amenities-cardtitle">GIFT SHOPS</h1>
      <p class="amenities-cardparah">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem
        doloremque dolore eum quae quaerat porro voluptate eligendi unde tenetur
        modi.
      </p>
    </div>
  </div>
  <div id="card-group2">
    <div class="amenities-card">
      <img
        class="amenities-cardimg"
        src="../../assets/Images/travel.png"
        alt=""
      />
      <h1 class="amenities-cardtitle">TRAVEL</h1>
      <p class="amenities-cardparah">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem
        doloremque dolore eum quae quaerat porro voluptate eligendi unde tenetur
        modi.
      </p>
    </div>
    <div class="amenities-card">
      <img
        class="amenities-cardimg"
        src="../../assets/Images/entry.png"
        alt=""
      />
      <h1 class="amenities-cardtitle">ENTRY & SECURITY</h1>
      <p class="amenities-cardparah">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem
        doloremque dolore eum quae quaerat porro voluptate eligendi unde tenetur
        modi.
      </p>
    </div>
    <div class="amenities-card">
      <img
        class="amenities-cardimg"
        src="../../assets/Images/ticket.png"
        alt=""
      />
      <h1 class="amenities-cardtitle">TICKETS</h1>
      <p class="amenities-cardparah">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem
        doloremque dolore eum quae quaerat porro voluptate eligendi unde tenetur
        modi.
      </p>
    </div>
  </div>
</div> -->
<!--
<div id="Lastyear">
  <div id="lastyear-container">
    <h1 id="lastyear-title">LAST YEAR</h1>
    <h1 id="viewmore">View More ></h1>
  </div>
  <div id="lastyear-imagecontainer">
    <img id="party1" src="../../assets/Images/party1.png" alt="party1" />
    <div id="subparty">
      <img id="party2" src="../../assets/Images/party2.png" alt="party2" />
      <img id="party3" src="../../assets/Images/party3.png" alt="party3" />
      <img id="party4" src="../../assets/Images/party4.png" alt="party4" />
      <img id="party5" src="../../assets/Images/party5.png" alt="party5" />
      <img id="party6" src="../../assets/Images/party6.png" alt="party6" />
    </div>
  </div>
</div>

<div id="Lastyear-mobile">
  <div id="lastyear-container">
    <h1 id="lastyear-title">LAST YEAR</h1>
    <h1 id="viewmore">View More ></h1>
  </div>
  <div id="lastyear-mobilecontainer">
    <div id="subparty-mobile">
      <div>
        <img id="party1mobile" src="../../assets/Images/party1.png" alt="" />
      </div>
      <div>
        <img id="party3mobile" src="../../assets/Images/party4.png" alt="" />
        <img id="party4mobile" src="../../assets/Images/party5.png" alt="" />
      </div>
    </div>
    <img id="party2mobile" src="../../assets/Images/party2.png" alt="" />
  </div>
</div> -->

<!-- <div id="Vendor">
  <div>
    <img
      id="vendor-image"
      src="../../assets/Images/vendor-girl.png"
      alt="vendor-girl"
    />
  </div>
  <div id="vendor-content">
    <h1 id="vendor-title">BECOME A VENDOR</h1>
    <p id="vendor-parah">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi delectus
      consectetur culpa aliquid.
    </p>
    <input
      id="vendor-search"
      type="text"
      placeholder="Enter your email right here"
    />
    <p id="vendor-contact">Also you can contact us:</p>
    <div id="address">
      <p id="webicon">
        <fa-icon class="iconset" [icon]="faGlobe"></fa-icon> www.loosedays.co
      </p>
      <p>
        <fa-icon class="iconset" [icon]="faPhoneVolume"></fa-icon> +1(245) 456
        789
      </p>
    </div>

    <p id="address">
      <fa-icon class="iconset" [icon]="faLocationDot"></fa-icon> 302 HiveTree,9 Big market NE1
      1UN Newcastle upon Tyne
    </p>
  </div>
</div> -->
<!--
<div id="FAQ">
  <div id="faq-content">
    <h1 id="faq-title">LOOSEFEST FAQ'S</h1>
    <p id="faq-parah">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi,
      exercitationem.
    </p>
  </div>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header random" id="headingOne">
        <button
          class="accordion-button font-fix"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="false"
          aria-controls="collapseOne"
        >
          WHEN IS NEWCASTLE FRESHERS WEEK?
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse show"
        aria-labelledby="headingOne"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body font-fix">
          <strong>This is the first item's accordion body.</strong> It is shown
          by default.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button
          class="accordion-button collapsed font-fix"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          WHAT EVENTS ARE GOING ON DURING FRESHERS?
        </button>
      </h2>
      <div
        id="collapseTwo"
        class="accordion-collapse collapse"
        aria-labelledby="headingTwo"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body font-fix">
          <strong>This is the second item's accordion body.</strong> It is
          hidden by default.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button
          class="accordion-button collapsed font-fix"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          HOW DO I COLLECT MY WRISTBAND?
        </button>
      </h2>
      <div
        id="collapseThree"
        class="accordion-collapse collapse"
        aria-labelledby="headingThree"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body font-fix">
          <strong>This is the third item's accordion body.</strong> It is hidden
          by default.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button
          class="accordion-button collapsed font-fix"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFour"
          aria-expanded="false"
          aria-controls="collapseFour"
        >
          CAN I BUY FOR SOMEONE ELSE?
        </button>
      </h2>
      <div
        id="collapseFour"
        class="accordion-collapse collapse"
        aria-labelledby="headingFour"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body font-fix">
          <strong>This is the third item's accordion body.</strong> It is hidden
          by default.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFive">
        <button
          class="accordion-button collapsed font-fix"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseFive"
          aria-expanded="false"
          aria-controls="collapseFive"
        >
          DO I NEED TO BRING ID TO THE EVENTS?
        </button>
      </h2>
      <div
        id="collapseFive"
        class="accordion-collapse collapse"
        aria-labelledby="headingFive"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body font-fix">
          <strong>This is the third item's accordion body.</strong> It is hidden
          by default.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingSix">
        <button
          class="accordion-button collapsed font-fix"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseSix"
          aria-expanded="false"
          aria-controls="collapseSix"
        >
          WHEN DO I NEED TO ARRIVE BY?
        </button>
      </h2>
      <div
        id="collapseSix"
        class="accordion-collapse collapse"
        aria-labelledby="headingSix"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body font-fix">
          <strong>This is the third item's accordion body.</strong> It is hidden
          by default.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingSeven">
        <button
          class="accordion-button collapsed font-fix"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseSeven"
          aria-expanded="false"
          aria-controls="collapseSeven"
        >
          WHAT HAPPENS IF EVENTS GET CANCELLED DUE TO COVID-19?
        </button>
      </h2>
      <div
        id="collapseSeven"
        class="accordion-collapse collapse"
        aria-labelledby="headingSeven"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body font-fix">
          <strong>This is the third item's accordion body.</strong> It is hidden
          by default.
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <div id="Loosefest-community">
  <div>
    <h1 id="community-title">LOOSEFEST 2022 <br class="break" />COMMUNITY</h1>
    <p id="community-parah">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae, nam
      in expedita corrupti delectus aliquam soluta nesciunt. Accusantium at
      doloribus earum magnam adipisci tenetur quasi, aspernatur, et architecto
      saepe ab odio quo consequuntur perspiciatis porro maiores, incidunt
      recusandae quas reprehenderit magni aliquid? Rerum natus dicta debitis
      asperiores vero. Nostrum pariatur in doloribus tempore error quidem
      quisquam odit autem odio quo suscipit eaque, nesciunt qui deleniti magni
      reiciendis corrupti maiores aliquid quam labore consequatur iste
      consectetur!
    </p>
    <button id="community-button">Join Group</button>
  </div>
  <div>
    <img
      id="community-image"
      src="../../assets/Images/loosefest-girls.png"
      alt="Loosefest-girls"
    />
  </div>
</div> -->
