<div id="Register">
  <div id="Register-content">
    <h1 id="Register-title">Register</h1>
    <label for="first-name" class="register-label">First name*</label>
    <input
      type="text"
      id="first-name"
      name="first-name"
      class="register-input"
      placeholder="Type your first name here"
    /><br />
    <label for="last-name" class="register-label">Last name*</label>
    <input
      type="text"
      id="last-name"
      name="last-name"
      class="register-input"
      placeholder="Type your last name here"
    /><br />
    <label for="email" class="more">Email*</label>
    <input
      type="email"
      id="email"
      name="email"
      class="register-input"
      placeholder="Type your email here"
    /><br />
    <label for="phone-number" class="register-label">Phone Number*</label>
    <input
      type="text"
      id="phone-number"
      name="phone-number"
      class="register-input"
      placeholder="Type your phone number here"
    /><br />
    <label for="DOB" class="register-label">Date of Birth*</label>
    <input
      type="text"
      id="DOB"
      name="DOB"
      class="register-input"
      placeholder="DD/MM/YY"
    /><br />
    <label for="Gender" class="more">Gender*</label>
    <select id="Gender" name="Gender" class="register-input">
      <option value="" disabled selected>Please choose here</option>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
      <option value="Other">Other</option></select
    ><br />
    <p id="register-text">
      By Submit you agree to Looseday's!
      <span id="register-span">Terms & Condition.</span>
    </p>
    <button id="register-button">Submit</button>
  </div>
</div>
